* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;

}

body {
    height: 100vh;
    background-color: black;
}

.mask {
    position: fixed;
    top: 0;
    z-index: -1;
}

.mascara {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    /* background: linear-gradient(109deg, rgba(128, 0, 0, 0.1) 15%, rgba(128, 0, 0, 0.1) 50%, rgba(128, 0, 0, 0.1) 85%); */

}

.logo-mask{
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.logo-mask {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    height: 70%;

}



.container-header {
    background: rgba(102, 1, 1, 1.0);
    background: linear-gradient(270deg, rgba(102, 1, 1, 1.0), rgba(1, 1, 1, 1.0));
}


.header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.links {
    color: #800000;
    font-size: 25px;
}

.links:hover{
    color: black;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s ease-out;
    text-shadow: 3px 1px 13px #000000;
}

.search {
    height: 30px;
    width: 32%;
    border: none;
    border-radius: 14px;
    padding-left: 14px;
    outline: none;


}


h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    position: relative;
    top: 30px;
    color: #ffffff;
    
}

.marcas {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;


}

.marcas-loja {
    position: relative;
    top: 100px;
    height: 150px;
    border-radius: 20px;
    background-color: #800000;
}

.marcas-loja:hover {
    cursor: pointer;
    border: solid 1px #000000;
    transition: 0.5s ease-out; 
    box-shadow: 0px 0px 29px #800000;
}


.cloths-price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cloths-price,.price:hover{
    cursor: pointer;
    height: 275px;
    border: #ffffff;

}

.text-cloths,
span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

span {
    position: relative;
    top: 25px;
    color: #800000;

}

.login-page{
    font-size: 25px;
    position: relative;
    left: 15%;
}

.login-page:hover{
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s ease-out;
    text-shadow: 3px 1px 13px #000000;
}

